<div class="row" ng-init="fetch()">
	<div class="col-md-8 col-md-offset-2">
		<button type="button" class="btn btn-primary pull-left" ui-sref="home"><i class="fa fa-arrow-left"></i> Back</button>
		<table class="table table-bordered table-striped" style="margin-top:10px;">
			<h3 class="page-header text-center">Reservation form</h3>
			

			<div >
				<div class="panel-body">
					<div class="form-group">
						<label>Alias ID:</label>
						<input type="text" class="form-control" ng-model="cID" placeholder="please neter your ID">
					</div>
					<div class="form-group">
						<label>fullname</label>
						<input type="text" class="form-control" ng-model="cpassword" placeholder="enter your fullname">
					</div>
					<div class="form-group">
						<label>Type of room:</label>
						<input type="text" class="form-control" ng-model="cfullname" placeholder="select your type of room" list="browsers">
					
						<datalist id="browsers">
						  <option value="single RM100">
						  <option value="double RM200">
						  <option value="Queen RM300">
						  <option value="master suite RM500">
						  <option value="mini suite RM350">
						   <option value="standard family suite RM650">
						</datalist>

					</div>
					<div class="form-group">
						<label>Date</label>
						<input type="date" class="form-control" ng-model="cphone" placeholder="without - symbol,eg. XXXXXXXXXX">
					</div>
					<div class="form-group">
						<label>Time:</label>
						<input type="time" class="form-control" ng-model="cemail" placeholder="enter your time">
					</div>
				
					<button type="button" class="btn btn-primary" ng-click="add()"><i class="fa fa-save"></i> Save</button>
					<button type="button" class="btn btn-primary pull-right" ui-sref="home"><i class="fa fa-arrow-left"></i> Back</button>
				</div>
			</div>


			
		</table>	
	</div>
</div>