<div class="row" ng-init="fetch()">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered table-striped" style="margin-top:10px;">
			
			<br><br>

			<center><button href="" class="btn btn-success" ui-sref="chart"><i class="fa fa-edit"></i> click here for reservation</button>
			</center>

			<!--<center><button href="" class="btn btn-success" ui-sref="chart"><i class="fa fa-edit"></i> reservation (only admin can see)</button>
			</center>-->

			
			<!-- display gambar bilik-->
			

				<!-- display type of room -->
			
				<h3 class="page-header text-center">List of type hotel room</h3>
			<thead>
				<tr>
					<th>Type of room</th>   
					<th>Price room (RM)</th>
                    <th>Availability</th>
				</tr>
				<!-- list type of room-->
				<tr>
					<th>single</th>   
					<th>100</th>
                    <th>yes</th>
				</tr>
				<tr>
					<th>double</th>   
					<th>200</th>
                    <th>yes</th>
				</tr>
				<tr>
					<th>Queen</th>   
					<th>300</th>
                    <th>yes</th>
				</tr>
				<tr>
					<th>master suite</th>   
					<th>500</th>
                    <th>yes</th>
				</tr>
				<tr>
					<th>mini suite</th>   
					<th>350</th>
                    <th>yes</th>
				</tr>
				<tr>
					<th>standard family suite</th>   
					<th>650</th>
                    <th>yes</th>
				</tr>
				
			</thead>
			<!--
			<tbody>
				<tr>
					<th>Type of room</th>   
					<th>Price room (RM)</th>
                    <th>Availability</th>
                </tr>
			</tbody>
			-->
		
		</table>	
	</div>
</div>