<div class="row" ng-init="fetch()">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered table-striped" style="margin-top:10px;">
			
			<br><br>

			<center><button href="" class="btn btn-success" ui-sref="chart"><i class="fa fa-edit"></i> click here for reservation</button>
			</center>

			<!--<center><button href="" class="btn btn-success" ui-sref="chart"><i class="fa fa-edit"></i> reservation (only admin can see)</button>
			</center>-->

			
			<!-- display gambar bilik-->
			

				<!-- display type of room -->
			
				<h3 class="page-header text-center">List of type hotel room</h3>
			<thead>
				<tr>
					<th>Type of room</th>   
					<th>Price room (RM)</th>
                    <th>Availability</th>
				</tr>
				<!-- list type of room-->
				
				
			</thead>
			<tbody>
				<tr ng-repeat="Type of room">
					<td>{{ type_room.name}}</td>
					<td>{{ type_room.price }}</td>
					<td>{{ type_room.availabillity }}</td>
					<td style="text-align:center">
						<button type="button" class="btn btn-success" ui-sref="edit({member: member})"><i class="fa fa-edit"></i> Add to Chart</button> 
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>